@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

@layer components {
  .button-app {
    @apply bg-red-400 font-bold text-white rounded-lg p-4;
  }
}
